ray
transforms3d
tqdm
opencv-python==4.2.0.34
numba
tensorboardX
scikit-image
trimesh~=3.9.18
yacs
h5py
loguru
gdown # for downloading checkpoints
pyrender~=0.1.45
pyglet
open3d # for tsdf fusion in evaluation
